/****************
GENERAL 
****************/


.top-bar .wrap {
    text-align: center;
    font-size: 20px;
}

.top-bar .wrap .menu {
    display: inline-block;

};

a:link {
    color:#00d8ff ;
}


a:visited {
    color: #00d8ff;
}

a:hover {
    color: rgba(75, 160, 234, 0.42);
}


a:active {
    color: #00d8ff;
}


.noMargineTop{
    margin-top: 0px;
    padding-top: 0px;
}

.levo{
    text-align: left;
}

.desno{
    text-align: right;
}

.wrap{
    width: 90%;
    max-width:1500px;
    margin: 0 auto;
    text-align: center;
}

h3{
    color: #00d8ff;
    margin: 0px auto;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
    padding: 20px 20px 5px 20px;
}

p{
    margin: 10px auto;
    text-align: center;
    color: #b5b5b5;
    font-family: 'Raleway', sans-serif;
    font-weight: lighter;
    padding: 20px;
    font-size: 20px; 
}



/****************
NAV
****************/
 .top-bar{
    background-color: white;
}

.top-bar .menu{
    background-color: white;
}



/****************
MAIN
****************/

.main{
    padding: 80px;
}

.galerija {
    text-align: center;
    
}

.thumbnail {
    max-height: 400px;
    max-width: 300px;
    border: 0px;
    
}


.slk {
     position: relative;
     overflow: hidden;
     width: 100%;
     height: 400px;
}

#types{
    margin-bottom: 20px;
}

#gallery{
    margin-top: 20px;
    margin-bottom: 20px;
}
/****************
FOOTER
****************/

footer{
    background-color: #c4c2c2;
    margin-top: 100px;
}

footer p{
    font-size:15px; 
    height: 100px;
    background-color: #c4c2c2;
    color:#939090;
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .scroll-top-wrapper {
        position: fixed;
        opacity:0;
        visibility: hidden;
        overflow: hidden;
        text-align: center;
        z-index: 99999999;
        background-color: #00d8ff;
        color: #eeeeee;
        width: 50px;
        height: 48px;
        line-height: 48px;
        right: 30px;
        bottom: 30px;
        padding-top: 2px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        -webkit-transition: all 0.5s ease-in-out;
        -moz-transition: all 0.5s ease-in-out;
        -ms-transition: all 0.5s ease-in-out;
        -o-transition: all 0.5s ease-in-out;
        transition: all 0.5s ease-in-out;
    }
    .scroll-top-wrapper:hover {
        background-color: #888888;
    }
    .scroll-top-wrapper.show {
        visibility:visible;
        cursor:pointer;
        opacity: 1.0;
    }
    .scroll-top-wrapper i.fa {
        line-height: inherit;
    }
}

@media only screen and (max-width: 500px) {

    .top-bar .wrap {
    text-align: center;
    font-size: 20px;
    margin: 0px;
    padding: 0px;
    }   
    
    p{
        font-size: 15px;
        padding:10px;
        margin: auto 5px;
        text-align: left;
        color: #716c6c;
    }
    
    h3{
        
        margin: 0px auto;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        font-weight: lighter;
        padding: 20px 20px 5px 20px;
        font-size:15px;
    }    
    

     .desno{
        text-align: left;
    }
    
    .top-bar .wrap{
    text-align: center;
    font-size: 10px;
        
    }
    
    body{
        background-image: url(pozadina.png);
        background-repeat:no-repeat;  
        align-content: center;
    }
    
    .slk {
     position: relative;
     overflow: hidden;
     width: 50%;
     height: 210px;
}
      .scroll-top-wrapper.show {
        visibility:hidden;
        cursor:none;
        
    }
     .scroll-top-wrapper i.fa {
        line-height: 0px;
    }
}